In [2]:
import pandas as pd
import numpy as np
import scipy.stats as st 
df= pd.read_csv('F:\\数据\\gdptest6.csv', encoding='utf-8')
df.head(5)

  Region  Cost       GDP
0   east     2  28014.94
1   east     3  18549.19
2   east     2  34016.32
3   east     2  23409.24
4   east     2  30632.99

In [2]:
df['Region']

0       east
1       east
2       east
3       east
4       east
5       east
6       east
7       east
8       east
9       east
10      east
11    middle
12    middle
13    middle
14    middle
15    middle
16    middle
17    middle
18      west
19      west
20      west
21      west
22      west
23      west
24      west
25      west
26      west
27      west
28      west
29      west
30      west
Name: Region, dtype: object

In [3]:
Region=df['Region']
Cost=df['Cost']
GDP=df['GDP']
#计算组别个数r、s和整体平均数
list_fac1=Region.unique()
list_fac2=Cost.unique()
r=len(list_fac1)
s=len(list_fac2)
x_bar=GDP.mean()
list_fac1
#计算组间平方和Qa和组内平方和Qb
list_Qa=[]
list_Qb=[]
for i in list_fac1:
    series_i=df[Region==i]['GDP']
    xi_bar=series_i.mean()
    list_Qa.append((xi_bar-x_bar)**2)
for j in list_fac2:
    series_j=df[Cost==j]['GDP']
    xj_bar=series_j.mean()
    list_Qb.append((xj_bar-x_bar)**2)
Qa=sum(list_Qa)
Qb=sum(list_Qb)
#计算总平方和
Q=((df['GDP']-x_bar)**2).sum()
#计算误差平方和
list_Qw=[]
for i in list_fac1:
    for j in list_fac2:
        series_ij=df[(Region==i) & (Cost==j)]['GDP']
        list_Qw.append(((series_ij-series_ij.mean())**2).sum())#
Qw=sum(list_Qw)
#计算交互项平方和
Qab=Q-Qa-Qb-Qw

In [4]:
#误差项自由度
list_n=[]
for i in list_fac1:
    for j in list_fac2:
        n_ij=len(df[(Region==i) & (Cost==j)]['GDP'])
        list_n.append(n_ij)
n=sum(list_n)-r*s  
list_n

[6, 1, 3, 1, 4, 2, 0, 1, 1, 7, 0, 5]

In [5]:
#计算均方
Sa=Qa/(r-1)
Sb=Qb/(s-1)
Sab=Qab/((r-1)*(s-1))
Sw=Qw/n
#计算F值
Fa=Sa/Sw
Fb=Sb/Sw
Fab=Sab/Sw
#计算显著性
sig1=st.f.sf(Fa,r-1,n)
sig2=st.f.sf(Fb,s-1,n)
sig3=st.f.sf(Fab,(r-1)*(s-1),n)

In [6]:
#整理数据
df_res=pd.DataFrame(columns=['Factor','SS','DOF','MS','F','sig'])
df_res['Factor']=['Region','Cost','Cost'+'*'+'Region','Error','Total']
df_res['SS']=[Qa,Qb,Qab,Qw,Q]
df_res['DOF']=[r-1,s-1,(r-1)*(s-1),n,len(GDP)-1]
df_res['MS']=[Sa,Sb,Sab,Sw,'-']
df_res['F']=[Fa,Fb,Fab,'-','-']
df_res['sig']=[sig1,sig2,sig3,'-','-']
df_res

        Factor            SS  DOF           MS        F          sig
0       Region  4.140211e+08    2  2.07011e+08  4.32375    0.0283419
1         Cost  3.650543e+09    3  1.21685e+09  25.4158  7.30613e-07
2  Cost*Region  9.793527e+09    6  1.63225e+09  34.0923   3.4707e-09
3        Error  9.096733e+08   19  4.78775e+07        -            -
4        Total  1.476776e+10   30            -        -            -

In [15]:
df_res.to_csv('F:\\数据\\gdpres2.csv',sep=',',index=False,header=True)