In [2]:
import xlwings as xw 
import os 
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

In [3]:
df= pd.read_excel('D:\\入职\\增长模型\\total.xlsx',sheet_name=0)
df.head()

,uid,ruid,msg_id,canvas_client_type,previous_msg,send_time_local,msg_date,credit_apply_flag,credit_approved,msg_gap,...,hotel_order_am,hospital_order_amt,sight_order_amt,other_order_amt,avg_gmv,most_finish_city_id,regist_day,year,month,day
0,369436087711630,1.078401e+16,1185482548031044097,1,2,2021-12-02 09:07:49,2021-12-02,1,0,21.0,...,0,0,0,0.00,NaN,52190500.0,582.0,2021,12,16
1,369436087747918,1.078401e+16,1185482548486648321,1,2,2021-12-02 09:07:50,2021-12-02,1,0,21.0,...,0,0,0,128.22,60.148,52210400.0,582.0,2021,12,16
2,369436088045986,1.078401e+16,1185436128258430469,1,0,2021-12-01 09:06:46,2021-12-01,1,0,NaN,...,0,0,0,264.66,66.165,52090100.0,580.0,2021,12,16
3,369436088051968,1.078401e+16,1185389764796876289,1,2,2021-11-30 09:07:27,2021-11-30,1,0,19.0,...,0,0,0,182.73,91.365,52190500.0,578.0,2021,12,16
4,369436088104807,1.078401e+16,1185482551675369985,1,3,2021-12-02 09:07:56,2021-12-02,1,0,16.0,...,0,0,0,0.00,38.470,52090100.0,580.0,2021,12,16

In [12]:
df.isnull().sum()

uid                         0
ruid                   101313
msg_id                      0
canvas_client_type          0
previous_msg                0
                        ...
most_finish_city_id      1859
regist_day                113
year                        0
month                       0
day                         0
Length: 86, dtype: int64

In [6]:
df.isna().mean()

uid                    0.000000
ruid                   0.833358
msg_id                 0.000000
canvas_client_type     0.000000
previous_msg           0.000000
                         ...
most_finish_city_id    0.015291
regist_day             0.000929
year                   0.000000
month                  0.000000
day                    0.000000
Length: 86, dtype: float64

In [13]:
df1=df.dropna(how='any',axis = 1) #只要有缺失，就删除这一行，等价于df.dropna()
df1

,uid,msg_id,canvas_client_type,previous_msg,send_time_local,msg_date,credit_apply_flag,credit_approved,registered,visit_b4_msg_flag,...,bus_order_amt,mall_order_amt,subway_order_amt,hotel_order_am,hospital_order_amt,sight_order_amt,other_order_amt,year,month,day
0,369436087711630,1185482548031044097,1,2,2021-12-02 09:07:49,2021-12-02,1,0,0,1,...,0,0,0,0,0,0,0.00,2021,12,16
1,369436087747918,1185482548486648321,1,2,2021-12-02 09:07:50,2021-12-02,1,0,0,0,...,0,0,0,0,0,0,128.22,2021,12,16
2,369436088045986,1185436128258430469,1,0,2021-12-01 09:06:46,2021-12-01,1,0,0,0,...,0,0,0,0,0,0,264.66,2021,12,16
3,369436088051968,1185389764796876289,1,2,2021-11-30 09:07:27,2021-11-30,1,0,1,1,...,0,0,0,0,0,0,182.73,2021,12,16
4,369436088104807,1185482551675369985,1,3,2021-12-02 09:07:56,2021-12-02,1,0,0,0,...,0,0,0,0,0,0,0.00,2021,12,16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121567,369435985205442,1185436140759986689,1,2,2021-12-01 09:07:09,2021-12-01,0,0,0,0,...,0,0,0,0,0,0,93.58,2021,12,16
121568,369436013042487,1185343253824192003,1,0,2021-11-29 09:03:33,2021-11-29,0,0,0,0,...,0,0,0,0,0,0,186.51,2021,12,16
121569,369435994396668,1185389728059932164,1,3,2021-11-30 09:06:18,2021-11-30,0,0,0,0,...,0,0,0,0,0,0,40.28,2021,12,16
121570,369436230203469,1185482505116498433,1,1,2021-12-02 09:06:29,2021-12-02,0,0,0,0,...,0,0,0,0,0,0,104.10,2021,12,16
121571,369436061116490,1185482537222323713,1,2,2021-12-02 09:07:29,2021-12-02,0,0,0,0,...,0,0,0,0,0,0,0.00,2021,12,16

In [15]:
#df1.isnull()

,uid,msg_id,canvas_client_type,previous_msg,send_time_local,msg_date,credit_apply_flag,credit_approved,registered,visit_b4_msg_flag,...,bus_order_amt,mall_order_amt,subway_order_amt,hotel_order_am,hospital_order_amt,sight_order_amt,other_order_amt,year,month,day
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121567,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121568,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121569,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121570,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
121571,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [17]:
df.loc[:,['uid','ruid','msg_id','credit_apply_flag']]

                    uid          ruid               msg_id  credit_apply_flag
0       369436087711630  1.078401e+16  1185482548031044097                  1
1       369436087747918  1.078401e+16  1185482548486648321                  1
2       369436088045986  1.078401e+16  1185436128258430469                  1
3       369436088051968  1.078401e+16  1185389764796876289                  1
4       369436088104807  1.078401e+16  1185482551675369985                  1
...                 ...           ...                  ...                ...
121567  369435985205442  1.078401e+16  1185436140759986689                  0
121568  369436013042487           NaN  1185343253824192003                  0
121569  369435994396668           NaN  1185389728059932164                  0
121570  369436230203469           NaN  1185482505116498433                  0
121571  369436061116490           NaN  1185482537222323713                  0

[121572 rows x 4 columns]

In [21]:
df2=df.loc[:,['uid','ruid','msg_id','credit_apply_flag','finish_orders','finish_gmv','last_call_interval','last_gmv',
            'airport_order_cnt','airport_order_amt','creditcard_num','otherpayment_num','creditcard_gmv','otherpayment_gmv',
           'require_level','avg_mile','share_num','morning_finish_orders','night_finish_orders',
           'week_finish_orders','cannel_orders','call_orders','night_call_orders','morning_call_orders',
           'othercity_finish_orders','max_actual_cost','min_actual_cost','sum_actual_cost',
            'online_actual_cost','not_online_actual_cost','bind_card','card_num','visit_b4_msg_flag','channel',
            'days_since_first_visit','final_visit_time','collect_visit','visit_7','collect_visit_finance_num','visit_finance_num_7',
            'registered','registration_channel','rgst_day','applynow_flag','applynow_num','first_applynow_day','final_applynow_time',
            'curp_flag','card_flag','info_flag','auth_flag','ocr_flag','face_flag','msg_gap','enter_wl_days','previous_msg'
]] #loc在这里选择的是行索引标签
df2

,uid,ruid,msg_id,credit_apply_flag,finish_orders,finish_gmv,last_call_interval,last_gmv,airport_order_cnt,airport_order_amt,...,final_applynow_time,curp_flag,card_flag,info_flag,auth_flag,ocr_flag,face_flag,msg_gap,enter_wl_days,previous_msg
0,369436087711630,1.078401e+16,1185482548031044097,1,0.0,0.00,45.0,56.91,0,0,...,21.0,0,0,0,0,0,0,21.0,41.0,2
1,369436087747918,1.078401e+16,1185482548486648321,1,5.0,300.74,1.0,35.81,0,0,...,NaN,0,0,0,0,0,0,21.0,41.0,2
2,369436088045986,1.078401e+16,1185436128258430469,1,4.0,264.66,10.0,58.34,0,0,...,NaN,0,0,0,0,0,0,NaN,2.0,0
3,369436088051968,1.078401e+16,1185389764796876289,1,2.0,182.73,11.0,51.60,0,0,...,12.0,0,0,0,0,0,0,19.0,36.0,2
4,369436088104807,1.078401e+16,1185482551675369985,1,2.0,76.94,7.0,43.27,0,0,...,NaN,0,0,0,0,0,0,16.0,20.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121567,369435985205442,1.078401e+16,1185436140759986689,0,2.0,93.58,15.0,42.11,0,0,...,NaN,0,0,0,0,0,0,21.0,44.0,2
121568,369436013042487,NaN,1185343253824192003,0,1.0,186.51,16.0,186.51,0,0,...,NaN,0,0,0,0,0,0,NaN,0.0,0
121569,369435994396668,NaN,1185389728059932164,0,1.0,40.28,12.0,40.28,0,0,...,NaN,0,0,0,0,0,0,16.0,20.0,3
121570,369436230203469,NaN,1185482505116498433,0,7.0,575.26,3.0,34.87,0,0,...,NaN,0,0,0,0,0,0,2.0,3.0,1
121571,369436061116490,NaN,1185482537222323713,0,1.0,76.05,8.0,76.05,0,0,...,NaN,0,0,0,0,0,0,21.0,41.0,2

In [25]:
df2.isnull().sum()
df2.isna().mean()

uid                          0.000000
ruid                         0.833358
msg_id                       0.000000
credit_apply_flag            0.000000
finish_orders                0.015489
finish_gmv                   0.023015
last_call_interval           0.017043
last_gmv                     0.021107
airport_order_cnt            0.000000
airport_order_amt            0.000000
creditcard_num               0.000000
otherpayment_num             0.000000
creditcard_gmv               0.000000
otherpayment_gmv             0.000000
require_level                0.016961
avg_mile                     0.238575
share_num                    0.000000
morning_finish_orders        0.015489
night_finish_orders          0.015489
week_finish_orders           0.015489
cannel_orders                0.015489
call_orders                  0.015489
night_call_orders            0.015489
morning_call_orders          0.015489
othercity_finish_orders      0.015489
max_actual_cost              0.023015
min_actual_cost              0.023015
sum_actual_cost              0.023015
online_actual_cost           0.023015
not_online_actual_cost       0.023015
bind_card                    0.685791
card_num                     0.685791
visit_b4_msg_flag            0.000000
channel                      0.826745
days_since_first_visit       0.944461
final_visit_time             0.946994
collect_visit                0.000000
visit_7                      0.000000
collect_visit_finance_num    0.000000
visit_finance_num_7          0.000000
registered                   0.000000
registration_channel         0.877431
rgst_day                     0.972436
applynow_flag                0.000000
applynow_num                 0.000000
first_applynow_day           0.946994
final_applynow_time          0.946994
curp_flag                    0.000000
card_flag                    0.000000
info_flag                    0.000000
auth_flag                    0.000000
ocr_flag                     0.000000
face_flag                    0.000000
msg_gap                      0.440307
enter_wl_days                0.000066
previous_msg                 0.000000
dtype: float64

In [27]:
#删除所有样本中缺失值超过30%的行
def del_rows(data):
    t = int(0.7*data.shape[1])
    data = data.dropna(thresh=t)#保留至少有 t 个非空的行
    #data = data[(data.T != 0).any()]
    return data
#删除所有行中缺失值超过30%的列
def remcolumns(data):
    t = int(0.7*data.shape[0])
    data = data.dropna(thresh=t,axis=1)#保留至少有 t 个非空的列
    #data = data.loc[:, (data != 0).any(axis=0)]
    return data

In [28]:
df3=remcolumns(df2)
df3

,uid,msg_id,credit_apply_flag,finish_orders,finish_gmv,last_call_interval,last_gmv,airport_order_cnt,airport_order_amt,creditcard_num,...,applynow_flag,applynow_num,curp_flag,card_flag,info_flag,auth_flag,ocr_flag,face_flag,enter_wl_days,previous_msg
0,369436087711630,1185482548031044097,1,0.0,0.00,45.0,56.91,0,0,0,...,1,2,0,0,0,0,0,0,41.0,2
1,369436087747918,1185482548486648321,1,5.0,300.74,1.0,35.81,0,0,2,...,0,0,0,0,0,0,0,0,41.0,2
2,369436088045986,1185436128258430469,1,4.0,264.66,10.0,58.34,0,0,0,...,0,0,0,0,0,0,0,0,2.0,0
3,369436088051968,1185389764796876289,1,2.0,182.73,11.0,51.60,0,0,2,...,1,4,0,0,0,0,0,0,36.0,2
4,369436088104807,1185482551675369985,1,2.0,76.94,7.0,43.27,0,0,0,...,0,0,0,0,0,0,0,0,20.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121567,369435985205442,1185436140759986689,0,2.0,93.58,15.0,42.11,0,0,1,...,0,0,0,0,0,0,0,0,44.0,2
121568,369436013042487,1185343253824192003,0,1.0,186.51,16.0,186.51,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
121569,369435994396668,1185389728059932164,0,1.0,40.28,12.0,40.28,0,0,0,...,0,0,0,0,0,0,0,0,20.0,3
121570,369436230203469,1185482505116498433,0,7.0,575.26,3.0,34.87,0,0,0,...,0,0,0,0,0,0,0,0,3.0,1
121571,369436061116490,1185482537222323713,0,1.0,76.05,8.0,76.05,0,0,0,...,0,0,0,0,0,0,0,0,41.0,2

In [29]:
df3.isna().mean()

uid                          0.000000
msg_id                       0.000000
credit_apply_flag            0.000000
finish_orders                0.015489
finish_gmv                   0.023015
last_call_interval           0.017043
last_gmv                     0.021107
airport_order_cnt            0.000000
airport_order_amt            0.000000
creditcard_num               0.000000
otherpayment_num             0.000000
creditcard_gmv               0.000000
otherpayment_gmv             0.000000
require_level                0.016961
avg_mile                     0.238575
share_num                    0.000000
morning_finish_orders        0.015489
night_finish_orders          0.015489
week_finish_orders           0.015489
cannel_orders                0.015489
call_orders                  0.015489
night_call_orders            0.015489
morning_call_orders          0.015489
othercity_finish_orders      0.015489
max_actual_cost              0.023015
min_actual_cost              0.023015
sum_actual_cost              0.023015
online_actual_cost           0.023015
not_online_actual_cost       0.023015
visit_b4_msg_flag            0.000000
collect_visit                0.000000
visit_7                      0.000000
collect_visit_finance_num    0.000000
visit_finance_num_7          0.000000
registered                   0.000000
applynow_flag                0.000000
applynow_num                 0.000000
curp_flag                    0.000000
card_flag                    0.000000
info_flag                    0.000000
auth_flag                    0.000000
ocr_flag                     0.000000
face_flag                    0.000000
enter_wl_days                0.000066
previous_msg                 0.000000
dtype: float64

In [32]:
#mice
import miceforest as mf # miceforest导入失败的，先去终端 r安装一下
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
#from sklearn.neighbors import KNeighborsclassifier ,KNeighborsRegressor
#from sklearn.ensemble import RandomForestRegressor,RandomForestclassifier
from sklearn.tree import DecisionTreeRegressor
from sklearn.linear_model import LinearRegression
from sklearn.svm import SVR
from sklearn.neighbors import KNeighborsClassifier 
from sklearn.neighbors import KNeighborsRegressor
from sklearn.ensemble import RandomForestRegressor,RandomForestClassifier

In [34]:
kernel = mf.MultipleImputedKernel(
    df3,
    save_all_iterations= True,
    save_models=1,
    datasets = 5,
    random_state=0,
    mean_match_candidates = 5
)
kernel.mice(iterations =3 ,n_jobs = -1)

C:\Users\13997\anaconda3\lib\site-packages\lightgbm\engine.py:239: UserWarning: 'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. Pass 'log_evaluation()' callback via 'callbacks' argument instead.
  _log_warning("'verbose_eval' argument is deprecated and will be removed in a future release of LightGBM. "

In [36]:
kernel.complete_data(0)

,uid,msg_id,credit_apply_flag,finish_orders,finish_gmv,last_call_interval,last_gmv,airport_order_cnt,airport_order_amt,creditcard_num,...,applynow_flag,applynow_num,curp_flag,card_flag,info_flag,auth_flag,ocr_flag,face_flag,enter_wl_days,previous_msg
0,369436087711630,1185482548031044096,1,0.0,0.00,45.0,56.91,0,0,0,...,1,2,0,0,0,0,0,0,41.0,2
1,369436087747918,1185482548486648320,1,5.0,300.74,1.0,35.81,0,0,2,...,0,0,0,0,0,0,0,0,41.0,2
2,369436088045986,1185436128258430464,1,4.0,264.66,10.0,58.34,0,0,0,...,0,0,0,0,0,0,0,0,2.0,0
3,369436088051968,1185389764796876288,1,2.0,182.73,11.0,51.60,0,0,2,...,1,4,0,0,0,0,0,0,36.0,2
4,369436088104807,1185482551675369984,1,2.0,76.94,7.0,43.27,0,0,0,...,0,0,0,0,0,0,0,0,20.0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121567,369435985205442,1185436140759986688,0,2.0,93.58,15.0,42.11,0,0,1,...,0,0,0,0,0,0,0,0,44.0,2
121568,369436013042487,1185343253824192000,0,1.0,186.51,16.0,186.51,0,0,0,...,0,0,0,0,0,0,0,0,0.0,0
121569,369435994396668,1185389728059932160,0,1.0,40.28,12.0,40.28,0,0,0,...,0,0,0,0,0,0,0,0,20.0,3
121570,369436230203469,1185482505116498432,0,7.0,575.26,3.0,34.87,0,0,0,...,0,0,0,0,0,0,0,0,3.0,1
121571,369436061116490,1185482537222323712,0,1.0,76.05,8.0,76.05,0,0,0,...,0,0,0,0,0,0,0,0,41.0,2

In [39]:
datasets = []
df = []
for i in range(kernel.dataset_count()) :
    datasets.append(kernel.complete_data(i))
    dd = pd.DataFrame((datasets[i].mean()-df3.mean())/df3.mean()*100 )
    df.append(dd)

In [40]:
data_full=df3.copy()
data_full.isnull().sum()

uid                              0
msg_id                           0
credit_apply_flag                0
finish_orders                 1883
finish_gmv                    2798
last_call_interval            2072
last_gmv                      2566
airport_order_cnt                0
airport_order_amt                0
creditcard_num                   0
otherpayment_num                 0
creditcard_gmv                   0
otherpayment_gmv                 0
require_level                 2062
avg_mile                     29004
share_num                        0
morning_finish_orders         1883
night_finish_orders           1883
week_finish_orders            1883
cannel_orders                 1883
call_orders                   1883
night_call_orders             1883
morning_call_orders           1883
othercity_finish_orders       1883
max_actual_cost               2798
min_actual_cost               2798
sum_actual_cost               2798
online_actual_cost            2798
not_online_actual_cost        2798
visit_b4_msg_flag                0
collect_visit                    0
visit_7                          0
collect_visit_finance_num        0
visit_finance_num_7              0
registered                       0
applynow_flag                    0
applynow_num                     0
curp_flag                        0
card_flag                        0
info_flag                        0
auth_flag                        0
ocr_flag                         0
face_flag                        0
enter_wl_days                    8
previous_msg                     0
dtype: int64

In [ ]:
#众数插补

In [ ]:
x, y = df.iloc[:, 1:].values, df.iloc[:, 0].values #0表示从第一列开始，即索引下标为0的列
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3, random_state = 0)